body{
    background-image: url(../img/Shutterstock_1803950377.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main_part h1{
    color: black;
    font-size: 80px;
    font-family:'Courier New', Courier, monospace;
}

.main_part p{
    color: blanchedalmond;
    font-size: 30px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    width: 50%;
}

.main_part .inside_item{
    color: bisque;
    font-size: 45px;
    font-weight: bold;
}
